:root {
    --canvas-side-width: 16;
    --pixel-width: 10;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

div.container {
    display: grid;
    justify-content: center;
}

/* TODO: fix grid overflowing canvas issue */
div.canvas {
    display: grid;
    grid-template-columns: repeat(var(--canvas-side-width), 1fr);
    grid-template-rows: repeat(var(--canvas-side-width), 1fr);
    justify-items: stretch;
    justify-content: center;
    border: 1px solid crimson;
    border-radius: 1%;
    width: 90vh;
    height: 90vh;
}

.border {
    border: 1px solid gainsboro
}

.pixel {
    background: ivory;
    min-height: 1px;
    min-width: 1px;
}

.active {
    background: black;
}