* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

div.container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.pixel {
    background-color: ivory;
    height: 1rem;
    width: 1rem;
}

.active {
    background-color: black;
}