:root {
    --canvas-side-width: 16;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

div.container {
    display: grid;
    grid-template-columns: repeat(var(--canvas-side-width, 16), 1fr);
    justify-items: center;
    justify-content: center;
    width: var(--canvas-side-width, 16)*1rem;
}

.pixel {
    background: ivory;
    height: 1rem;
    width: 1rem;
}

.active {
    background: black;
}